@import "tailwindcss";

@theme {
  --color-gold-50: #fbf8f1;
  --color-gold-100: #f5eedc;
  --color-gold-200: #ead8b1;
  --color-gold-300: #dec185;
  --color-gold-400: #d3aa5c;
  --color-gold-500: #c1923c;
  --color-gold-600: #a57430;
  --color-gold-700: #845728;
  --color-gold-800: #6d4726;
  --color-gold-900: #593b22;
  --color-gold-950: #321e10;

  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Playfair Display', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}
